.collapse-text-wrapper {
    width: 100%;
}

.collapse-text-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    word-break: break-all;
    white-space: pre-line;
}

.dynamic-text-style {
    color: #1e1f23f2;
    font-size: REM(14);
    line-height: REM(24);
}
.comment-text-style {
    color: #686c78;
    font-size: REM(12);
    line-height: REM(17);
}

.expand-text-style {
    color: var(--base-theme-color);
    span {
        cursor: pointer;
    }
}
