.collapse-paragraph-expand-btn {
    margin-top: REM(8);
    height: REM(20);
    line-height: REM(20);
    color: var(--base-theme-color);
}
.collapse-paragraph-collapse-btn {
    margin-top: REM(8);
    height: REM(20);
    line-height: REM(20);
    color: var(--base-theme-color);
    cursor: pointer;
}

.collapse-paragraph-topic-style {
    margin-top: REM(8);
    height: REM(20);
    line-height: REM(20);
    color: var(--base-theme-color);
}

.collapse-paragraph {
    margin-bottom: 0 !important;
    color: unset;
    white-space: pre-line;
}
