$REM: 16;
@function REM($n) {
    @return calc($n / $REM) * 1rem;
}

.user-follow-wrapper {
    width: REM(760);

    .user-follow-hint {
        height: REM(20);
        font-size: REM(12);
        color: #686c78;
        line-height: REM(20);
        margin-bottom: REM(8);
    }

    .user-follow-opt-wrapper {
        padding: REM(24);
        width: 100%;
        height: REM(96);
        background: #ffffff;
        border-radius: 4px;
    }
    .user-follow-opt-wrapper + .user-follow-opt-wrapper {
        margin-top: REM(16);
    }

    .user-follow-opt-body {
        width: 100%;
        height: REM(48);
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        .follow-user {
            flex: 1;
            width: 100%;
            overflow: hidden;
            display: flex;
            &-img {
                margin-top: 1px;
                width: REM(40);
                height: REM(40);
                .img-style {
                    @include width-height-100;
                    border-radius: 50%;
                }
            }
            &-info {
                flex: 1;
                overflow: hidden;
                margin-left: REM(16);
                font-size: REM(14);
                .info-name {
                    width: 100%;
                    height: REM(20);
                    font-weight: 600;
                    color: var(--base-font-color);
                    line-height: REM(20);
                }
                .info-dynamic {
                    width: 100%;
                    margin-top: REM(8);
                    height: REM(20);
                    color: var(--base-font-color);
                    line-height: REM(20);
                    cursor: pointer;
                    .no-dynamic {
                        color: #cbd1da;
                    }
                }
            }
        }

        .follow-operate {
            width: REM(100);
            font-size: REM(14);
            color: var(--base-icon-color);
            display: flex;
            justify-content: right;
            align-items: center;

            .follow-operate-icon {
                margin-right: REM(8);
                font-size: REM(24);
            }

            .follow-operate-btn-true {
                cursor: pointer;
            }
            .follow-operate-btn-true:hover {
                color: #f73c1b;
            }
            .follow-operate-btn-false {
                cursor: pointer;
            }
            .follow-operate-btn-false:hover {
                color: var(--base-theme-color);
            }
        }
    }

    .list-loading {
        width: 100%;
        text-align: center;
        margin-top: REM(16);
        line-height: 20px;
        font-size: 16px;
        color: var(--base-icon-color);
    }
}

.mutual-attention-hint-style {
    height: REM(20);
    font-size: REM(12);
    color: #ffffff;
    line-height: REM(20);
}
