$REM: 16;
@function REM($n) {
    @return calc($n / $REM) * 1rem;
}

.comment-content-info-wrapper {
    width: 100%;
    padding: REM(24);
}
.comment-more-content-info-wrapper {
    width: 100%;
}
.sub-comment-content-info-wrapper {
    width: 100%;
    padding: REM(16) 0;
}

.comment-content-info-body {
    display: flex;
    .body-img {
        margin-right: REM(16);
        margin-top: 1px;
        width: REM(40);
        height: REM(40);
        @include head-img-style;
    }

    .body-data {
        flex: 1;
        overflow: hidden;
        .body-data-name {
            max-width: 300px;
            height: REM(20);
            font-size: REM(14);
            font-weight: 600;
            color: var(--base-font-color);
            line-height: REM(20);
        }

        .body-data-text {
            margin-top: REM(4);
            margin-bottom: REM(8);
            font-size: REM(12);
            color: #686c78;
            line-height: REM(17);

            .sub-comment-by-name {
                color: var(--base-theme-color);
                cursor: pointer;
            }

            .comment-content-img {
                color: var(--base-theme-color);
                margin: 0 3px;
            }
        }

        .body-data-time-operation {
            height: REM(20);
            font-size: REM(12);
            color: #999ea8;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .body-data-time {
                height: 100%;
            }

            .body-data-operation {
                height: 100%;
                display: flex;
                .operation-btn {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .icon-style {
                        font-size: REM(16);
                        margin-right: 2px;
                    }
                    .icon-theme-style {
                        color: var(--base-theme-color);
                    }
                }
                .operation-btn + .operation-btn {
                    margin-left: REM(16);
                }
            }
        }

        .body-data-more {
            margin-top: REM(8);
            height: REM(17);
            font-size: REM(12);
            color: var(--base-theme-color);
            cursor: pointer;
            display: flex;
            align-items: center;
            .icon-style {
                font-size: REM(12);
                height: REM(14);
                margin-left: 4px;
            }
        }
    }
}
