$REM: 16;
@function REM($n) {
    @return calc($n / $REM) * 1rem;
}

.header-outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: REM(63);
    border-bottom: 1px solid rgba(#e6eaef, 0.5);
    z-index: 99;
}
.header-outside-transparent {
    background-color: rgba(#ffffff, 0);
}
.header-outside-white {
    background-color: #ffffff;
}

.header-main {
    @include width-height-100;
    padding: REM(16) REM(32) REM(15) REM(32);
    display: flex;
    justify-content: space-between;
    .header-left {
        display: flex;
        &-home-page {
            display: block;
            width: REM(133);
            height: REM(32);
            .img-style {
                @include width-height-100;
            }
        }
        &-community-search {
            margin-left: REM(118);
            display: flex;
            .community-body {
                display: flex;
                align-items: center;
                cursor: pointer;
                .community-icon-style {
                    font-size: REM(18);
                }
                .community-title-style {
                    margin-left: REM(8);
                    font-size: REM(14);
                    font-weight: 600;
                    color: var(--base-font-color);
                }
            }
            .community-divider {
                margin: 0 16px;
                height: 100%;
            }
            .community-input {
                width: REM(743);
                padding: 4px 5px;
                border: 0;
                background-color: rgba(#ffffff, 0);
                &-icon {
                    font-size: REM(18);
                    color: #c3c7cf;
                }
                .ant-input {
                    background-color: rgba(#ffffff, 0);
                }
            }
            .community-input:hover {
                border-color: #ff7d23;
                box-shadow: 0 0 0 2px rgba(#ff7d23, 0.2);
                background-color: rgba(#ffffff, 1);
                .ant-input {
                    background-color: rgba(#ffffff, 1);
                }
            }
            .community-input.ant-input-affix-wrapper-focused {
                border-color: #ff7d23;
                box-shadow: 0 0 0 2px rgba(#ff7d23, 0.2);
                background-color: rgba(#ffffff, 1);
                .ant-input {
                    background-color: rgba(#ffffff, 1);
                }
            }
        }
    }
    .header-right {
        display: flex;
        .icon-style {
            font-size: REM(32);
        }
        &-form-out {
            height: REM(32);
            padding: 0;
        }
        &-bell-out {
            height: REM(32);
            padding: 0;
        }
        .header-right-form-out + .header-right-bell-out {
            margin-left: REM(8);
        }
        &-login-btn {
            height: REM(32);
            font-size: REM(14);
        }
        .header-right-bell-out + .header-right-login-btn {
            margin-left: REM(24);
        }
        &-user-img {
            width: REM(32);
            height: REM(32);
            border-radius: 50%;
            cursor: pointer;
        }
        .header-right-bell-out + .header-right-user-img {
            margin-left: REM(24);
        }
    }
}

.user-info-menu {
    .user-info-menu-body {
        .menu-list {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-right: REM(50);
            li {
                height: REM(24);
                display: flex;
                align-items: center;
                cursor: pointer;
                .icon-style {
                    margin-right: 4px;
                    font-size: REM(20);
                }
            }
            li:hover {
                color: var(--base-theme-color);
            }
            li + li {
                margin-top: REM(8);
            }
        }

        .message-list {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                width: REM(102);
                height: REM(24);
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                .icon-style {
                    margin-right: 4px;
                    font-size: REM(20);
                }
                .message-title {
                    display: inline-flex;
                    align-items: center;
                }
                .message-hint {
                    height: REM(16);
                    background: #f73c1b;
                    border-radius: 8px;
                    display: inline-flex;
                    align-items: center;
                    color: #ffffff;
                    padding: 0 4px;
                }
            }
            li:hover {
                color: var(--base-theme-color);
            }
            li + li {
                margin-top: REM(8);
            }
        }

        .menu-divider {
            margin: REM(8) 0;
        }

        .menu-sign-out {
            height: REM(24);
            display: flex;
            align-items: center;
            cursor: pointer;
            .icon-style {
                margin-right: 4px;
                font-size: REM(20);
            }
        }
        .menu-sign-out:hover {
            color: #f73c1b;
        }
    }

    .ant-popover-inner-content {
        padding: REM(12);
    }
    .ant-popover-inner {
        border-radius: 4px;
    }
}
