$REM: 16;
@function REM($n) {
    @return calc($n / $REM) * 1rem;
}

.post-dynamic-modal {
    .post-dynamic-body {
        .post-dynamic-header {
            display: flex;
            justify-content: space-between;

            .header-title {
                width: 64px;
                height: REM(24);
                font-size: REM(16);
                font-weight: 600;
                color: var(--base-font-color);
                line-height: REM(24);
            }

            .header-del {
                font-size: REM(16);
                color: #00000073;
                cursor: pointer;
            }
            .header-del:hover {
                color: var(--base-font-color);
            }
        }

        .post-dynamic-input {
            margin-top: REM(16);
            margin-bottom: REM(8);
            width: 100%;
            background: #f7f8fa;
            border-radius: 4px;
            border-color: #00000000;
        }
        .post-dynamic-input:hover,
        .post-dynamic-input:focus-visible {
            border-color: #00000000;
            outline: none;
        }
        .post-dynamic-input:focus {
            border-color: #00000000;
            box-shadow: 0 0 0 2px #00000000;
        }

        .post-dynamic-operate {
            display: flex;
            justify-content: space-between;
            .operate-function {
                button + button {
                    margin-left: REM(8);
                }

                .icon-style {
                    font-size: REM(24);
                    color: var(--base-icon-color);
                }
                .icon-style:hover {
                    color: var(--base-theme-color);
                }
            }

            .operate-publish {
                .operate-publish-btn {
                    height: REM(32);
                    background: var(--base-theme-color);
                    border-color: rgba(0, 0, 0, 0);
                    color: #ffffff;
                    font-size: REM(14);
                    border-radius: 4px;
                    padding: 0 15px;
                }
                .operate-publish-btn:hover,
                .operate-publish-btn:focus .operate-publish-btn:active {
                    border-color: rgba(0, 0, 0, 0);
                }
            }
        }

        .post-dynamic-img {
            margin-top: REM(8);
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 8px;

            .img-opt {
                width: 100%;
                padding-top: 100%;
                position: relative;
                .img-opt-del {
                    position: absolute;
                    right: 2px;
                    top: 2px;
                    color: #ffffff;
                    width: REM(14);
                    height: REM(14);
                    font-size: REM(14);
                    line-height: REM(14);
                    text-align: center;
                    cursor: pointer;
                }
                .img-opt-del:hover {
                    color: var(--base-theme-color);
                }
            }

            .img-upload {
                .ant-upload.ant-upload-select {
                    width: 100%;
                    height: 100%;
                }
            }
            .img-add {
                width: 100%;
                height: 100%;
                background: var(--base-background-color);
                border-radius: 4px;
                border: 1px solid rgba(230, 234, 239, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                .icon-style {
                    font-size: REM(16);
                    color: #686c78;
                }
            }
        }

        .post-dynamic-video {
            margin-top: REM(8);
            width: 100%;

            .video-hint {
                height: REM(20);
                font-size: REM(12);
                color: #999ea8;
                line-height: REM(20);
            }

            .video-progress {
                margin-top: REM(8);
                display: flex;
                align-items: center;
                font-size: REM(14);
                height: REM(22);

                .video-progress-style {
                    height: 100%;
                }

                .video-cancel {
                    margin-left: REM(16);
                    width: REM(70);
                    display: flex;
                    color: var(--base-font-color);
                }

                .video-operate {
                    display: flex;
                    margin-left: REM(16);
                    .ant-upload.ant-upload-select.ant-upload-select-text {
                        width: REM(32);
                    }
                    .text-style {
                        width: REM(32);
                        color: var(--base-font-color);
                        cursor: pointer;
                    }
                    .video-del {
                        margin-left: REM(16);
                        color: #f73c1b;
                    }
                }
            }

            .video-progress-info {
                margin-top: 3px;
                height: REM(20);
                line-height: REM(20);
                font-size: REM(12);
                color: #686c78;
                span + span {
                    margin-left: REM(24);
                }
            }

            .video-form {
                margin-top: REM(16);
                font-size: REM(14);
                color: var(--base-font-color);

                .ant-form-item {
                    margin: 0;
                    .ant-form-item-label label {
                        color: var(--base-font-color);
                    }
                    .ant-form-item-control {
                        margin-left: REM(16);
                    }

                    .video-form-input {
                        width: 100%;
                        height: REM(32);
                        font-size: REM(14);
                    }

                    .video-cover-body {
                        width: REM(188);
                        height: REM(106);
                        background: #f7f8fa;
                        border-radius: 4px;
                        border: 1px solid rgba(230, 234, 239, 0.5);
                        overflow: hidden;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .icon-style {
                            font-size: REM(20);
                        }
                        .text-style {
                            margin-top: 4px;
                            height: REM(20);
                            font-size: REM(12);
                            color: #999ea8;
                            line-height: REM(20);
                        }

                        .img-style {
                            @include width-height-100;
                        }
                        .mask-cover {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            background: #ffffff00;
                            border-radius: 0px 0px 4px 4px;
                            height: REM(24);
                            font-size: REM(12);
                            color: #ffffff;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            .cover-btn {
                                cursor: pointer;
                                color: #ffffff;
                            }
                            .cover-btn:hover {
                                color: var(--base-theme-color);
                            }
                        }
                        .mask-cover-background {
                            background: #2a2b3150;
                        }
                    }
                    .video-cover-body:hover {
                        .icon-style,
                        .text-style {
                            color: var(--base-theme-color);
                        }
                    }
                }
                .ant-form-item + .ant-form-item {
                    margin-top: REM(16);
                }
            }
        }
    }

    .ant-modal-content {
        background: #ffffff;
        box-shadow: 0px 2px 4px 0px rgba(153, 158, 168, 0.3);
        border-radius: 4px;
        border: 1px solid rgba(230, 234, 239, 0.5);
    }

    .ant-modal-body {
        padding: REM(24);
    }
}

.topic-add-list.ant-popover-placement-bottomLeft {
    padding-top: 0;
}
.topic-add-list {
    .topic-add-list-body {
        width: REM(288);
        .body-title {
            height: REM(20);
            font-size: REM(12);
            color: #999ea8;
            line-height: REM(20);
        }

        .body-input {
            margin-top: REM(8);
            margin-bottom: REM(16);
            font-size: REM(12);
            width: 100%;
            height: REM(32);
        }

        .body-list {
            width: 100%;
            max-height: REM(160);
            overflow: hidden auto;
            .list-opt {
                width: 100%;
                height: REM(20);
                font-size: REM(12);
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: var(--base-font-color);
                line-height: REM(20);
                cursor: pointer;
            }
            .list-opt:hover {
                color: var(--base-theme-color);
                background-color: #ff7d2308;
            }

            .list-opt + .list-opt {
                margin-top: REM(12);
            }
        }
    }

    .ant-popover-inner-content {
        padding: 20px 16px 12px 16px;
    }
}
