.sub-comment-modal {
    .sub-comment-wrapper {
        .sub-comment-body {
            margin-top: 9px;
            margin-left: 56px;
            background: #f7f8fa;
            border-radius: 4px;
            padding: 0 24px;
            height: 480px;
            overflow: hidden auto;

            .sub-comment-content-info-wrapper
                + .sub-comment-content-info-wrapper {
                border-top: 1px solid #ecedef;
            }

            .sub-comment-loading {
                height: 32px;
                line-height: 32px;
                text-align: center;
                font-size: 14px;
            }
        }
    }

    .ant-modal-content {
        border-radius: 4px;
        border: 1px solid rgba(230, 234, 239, 0.5);
    }

    .ant-modal-header {
        border-radius: 4px;
        border-bottom: 0px;
        padding: 24px 24px 16px 24px;
    }

    .ant-modal-body {
        padding: 0 24px 24px 24px;
    }
}
