@media (min-width: 10px) {
    .agreement-container {
        padding: 50px 10px 10px 10px;
    }
}
@media (min-width: 768px) {
    .agreement-container {
        padding: 50px 50px 10px 50px;
    }
}
@media (min-width: 1200px) {
    .agreement-container {
        padding: 50px 100px 20px 100px;
    }
}

.agreement-type-container {
    width: 100%;
    display: flex;
    .agreement-type-body {
        width: 160px;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #dadde1;
        margin-right: 20px;

        .type-page-title {
            font-size: 14px;
            cursor: pointer;
        }
        .type-page-title:hover {
            color: var(--base-theme-color);
        }
        .type-page-title-selected {
            color: var(--base-theme-color);
        }
        .type-page-title + .type-page-title {
            margin-top: 20px;
        }

        .agreement-type-divider {
            height: auto;
            margin: 0 20px;
        }
    }
    .agreement-content-body {
        flex: 1;
    }
}

.agreement-container {
    .page-title {
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .head-title {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .effective-date {
        padding-bottom: 30px;
    }

    .head-first {
        font-size: 20px;
        font-weight: 600;
    }

    .high-light {
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        margin-bottom: 1rem;
        tr,
        td,
        th {
            border: 1px solid #000000;
        }
        td {
            padding: 6px;
        }
    }

    a {
        color: var(--base-theme-color);
    }
}
