$REM: 16;
@function REM($n) {
    @return calc($n / $REM) * 1rem;
}

.fans-wrapper {
    width: REM(760);

    .fans-hint {
        height: REM(20);
        font-size: REM(12);
        color: #686c78;
        line-height: REM(20);
        margin-bottom: REM(8);
    }

    .fans-opt-wrapper {
        padding: REM(24) REM(24) REM(16) REM(24);
        width: 100%;
        height: REM(109);
        background: #ffffff;
        border-radius: 4px;
    }
    .fans-opt-wrapper + .fans-opt-wrapper {
        margin-top: REM(16);
    }

    .fans-opt-body {
        height: REM(69);
        display: flex;
        justify-content: space-between;

        .fans-user {
            display: flex;
            &-img {
                margin-top: 1px;
                width: REM(40);
                height: REM(40);
                @include head-img-style;
            }

            &-info {
                margin-left: REM(16);
                .info-name {
                    height: REM(20);
                    font-size: REM(14);
                    font-weight: 600;
                    color: var(--base-font-color);
                    line-height: REM(20);
                }
                .info-text {
                    margin: REM(4) 0 REM(8) 0;
                    height: REM(17);
                    font-size: REM(12);
                    color: #686c78;
                    line-height: REM(17);
                }
                .info-time {
                    width: 108px;
                    height: REM(20);
                    font-size: REM(12);
                    color: #999ea8;
                    line-height: REM(20);
                }
            }
        }

        .fans-operate {
            height: 100%;
            display: flex;
            align-items: center;

            .fans-operate-icon {
                margin-right: REM(8);
                font-size: REM(24);
                height: REM(20);
                overflow: hidden;
                margin-top: REM(-2);
                border-radius: 4px;
            }

            &-btn {
                height: REM(28);
                font-size: REM(14);
            }
        }
    }

    .list-loading {
        width: 100%;
        text-align: center;
        margin-top: REM(16);
        line-height: 20px;
        font-size: 16px;
        color: var(--base-icon-color);
    }
}

.mutual-attention-hint-style {
    height: REM(20);
    font-size: REM(12);
    color: #ffffff;
    line-height: REM(20);
}
