$REM: 16;
@function REM($n) {
    @return calc($n / $REM) * 1rem;
}

.fans-wrapper {
    width: REM(760);

    .fans-hint {
        height: REM(20);
        font-size: REM(12);
        color: #686c78;
        line-height: REM(20);
        margin-bottom: REM(8);
    }

    .fans-opt-wrapper {
        padding: REM(24) REM(24) REM(16) REM(24);
        width: 100%;
        height: REM(109);
        background: #ffffff;
        border-radius: 4px;
    }
    .fans-opt-wrapper + .fans-opt-wrapper {
        margin-top: REM(16);
    }

    .fans-opt-body {
        height: REM(69);
        display: flex;
        justify-content: space-between;

        .fans-user {
            display: flex;
            &-img {
                margin-top: 1px;
                width: REM(40);
                height: REM(40);
                .img-style {
                    @include width-height-100;
                }
            }

            &-info {
                margin-left: REM(16);
                .info-name {
                    height: REM(20);
                    font-size: REM(14);
                    font-weight: 600;
                    color: var(--base-font-color);
                    line-height: REM(20);
                }
                .info-text {
                    margin: REM(4) 0 REM(8) 0;
                    height: REM(17);
                    font-size: REM(12);
                    color: #686c78;
                    line-height: REM(17);
                }
                .info-time {
                    width: 108px;
                    height: REM(20);
                    font-size: REM(12);
                    color: #999ea8;
                    line-height: REM(20);
                }
            }
        }

        .fans-operate {
            height: 100%;
            display: flex;
            align-items: center;
            &-btn {
                height: REM(28);
                border-radius: 4px;
                padding: 0 15px;
                font-size: REM(14);
            }
            .theme-btn {
                background: var(--base-theme-color);
                color: #ffffff;
            }
            .active-btn {
                background: rgba(255, 255, 255, 0.8);
                border-radius: 4px;
                border: 1px solid rgba(230, 234, 239, 0.5);
                color: #000000;
            }
            .theme-btn:hover,
            .theme-btn:focus,
            .theme-btn:active {
                border-color: rgba(0, 0, 0, 0);
            }
            .active-btn:hover,
            .active-btn:focus,
            .active-btn:active {
                border-color: rgba(230, 234, 239, 0.5);
            }
        }
    }
}
