$REM: 16;
@function REM($n) {
    @return calc($n / $REM) * 1rem;
}

.message-comment-wrapper {
    width: REM(760);

    .message-comment-hint {
        height: REM(20);
        font-size: REM(12);
        color: #686c78;
        line-height: REM(20);
        margin-bottom: REM(8);
    }

    .comment-message-wrapper + .comment-message-wrapper {
        margin-top: REM(16);
    }
}

.comment-message-wrapper {
    padding: REM(24) REM(24) REM(16) REM(24);
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
}

.comment-message-reply {
    width: 100%;
    display: flex;

    .reply-img {
        width: REM(40);
        padding-top: 1px;
        .img-style {
            width: REM(40);
            height: REM(40);
            border-radius: 50%;
        }
    }

    .reply-content {
        margin-left: REM(16);
        flex: 1;
        overflow: hidden;
        .reply-name {
            width: 100%;
            height: REM(20);
            font-size: 14px;
            font-weight: 600;
            color: var(--base-font-color);
            line-height: REM(20);
        }
        .reply-body {
            margin-top: 4px;
            font-size: 12px;
            color: #686c78;
            line-height: REM(17);
        }
        .reply-time {
            margin-top: REM(8);
            height: REM(20);
            font-size: 12px;
            color: #999ea8;
            line-height: REM(20);
        }
    }
}

.comment-message-dynamic {
    margin-top: REM(8);
    margin-left: REM(56);

    .dynamic-wrapper {
        width: 100%;
        padding: REM(16) REM(16) REM(12) REM(16);
        background: #f7f8fa;
        border-radius: 4px;
        .dynamic-name {
            width: 100%;
            height: REM(20);
            font-size: 14px;
            font-weight: 600;
            color: var(--base-font-color);
            line-height: REM(20);
        }
        .dynamic-content {
            margin-top: REM(8);
            width: 100%;
            height: REM(40);
            font-size: 12px;
            color: #686c78;
            line-height: REM(20);
            overflow: hidden;
        }
    }

    .dynamic-img-wrapper {
        width: 100%;
        background: #f7f8fa;
        border-radius: 4px;
        display: flex;
        overflow: hidden;
        .dynamic-img {
            width: REM(96);
            .img-style {
                width: REM(96);
                height: REM(96);
            }
        }
        .dynamic-content {
            flex: 1;
            overflow: hidden;
            padding: REM(16) REM(16) REM(12) REM(16);

            .dynamic-name {
                width: 100%;
                height: REM(20);
                font-size: 14px;
                font-weight: 600;
                color: var(--base-font-color);
                line-height: REM(20);
            }
            .dynamic-text {
                margin-top: REM(8);
                width: 100%;
                height: REM(40);
                font-size: 12px;
                color: #686c78;
                line-height: REM(20);
                overflow: hidden;
            }
        }
    }

    .dynamic-video-wrapper {
        width: 100%;
        background: #f7f8fa;
        border-radius: 4px;
        display: flex;
        overflow: hidden;
        .dynamic-video {
            width: REM(96);
            position: relative;
            .img-style {
                width: REM(96);
                height: REM(96);
            }
            .video-mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon-style {
                    font-size: 20px;
                    color: #ffffff;
                }
            }
        }
        .dynamic-content {
            flex: 1;
            overflow: hidden;
            padding: REM(16) REM(16) REM(12) REM(16);

            .dynamic-name {
                width: 100%;
                height: REM(20);
                font-size: 14px;
                font-weight: 600;
                color: var(--base-font-color);
                line-height: REM(20);
            }
            .video-title {
                margin-top: REM(8);
                width: 100%;
                height: REM(20);
                font-size: 12px;
                font-weight: 500;
                color: var(--base-font-color);
                line-height: REM(20);
            }
            .dynamic-text {
                margin-top: REM(4);
                width: 100%;
                height: REM(20);
                font-size: 12px;
                color: #686c78;
                line-height: REM(20);
                overflow: hidden;
            }
        }
    }
}

.comment-message-dynamic-reply {
    margin-top: REM(8);
    width: 100%;
    background: #f7f8fa;
    border-radius: 4px;
    padding: REM(16) REM(16) REM(16) REM(56);

    .dynamic-reply-content {
        margin-bottom: REM(8);
        font-size: 12px;
        color: var(--base-theme-color);
        line-height: 17px;
    }

    .dynamic-wrapper {
        width: 100%;
        padding: REM(16) REM(16) REM(12) REM(16);
        background: #ffffff;
        border-radius: 4px;
        .dynamic-name {
            width: 100%;
            height: REM(20);
            font-size: 14px;
            font-weight: 600;
            color: var(--base-font-color);
            line-height: REM(20);
        }
        .dynamic-content {
            margin-top: REM(8);
            width: 100%;
            height: REM(40);
            font-size: 12px;
            color: #686c78;
            line-height: REM(20);
            overflow: hidden;
        }
    }

    .dynamic-img-wrapper {
        width: 100%;
        background: #ffffff;
        border-radius: 4px;
        display: flex;
        overflow: hidden;
        .dynamic-img {
            width: REM(96);
            .img-style {
                width: REM(96);
                height: REM(96);
            }
        }
        .dynamic-content {
            flex: 1;
            overflow: hidden;
            padding: REM(16) REM(16) REM(12) REM(16);

            .dynamic-name {
                width: 100%;
                height: REM(20);
                font-size: 14px;
                font-weight: 600;
                color: var(--base-font-color);
                line-height: REM(20);
            }
            .dynamic-text {
                margin-top: REM(8);
                width: 100%;
                height: REM(40);
                font-size: 12px;
                color: #686c78;
                line-height: REM(20);
                overflow: hidden;
            }
        }
    }

    .dynamic-video-wrapper {
        width: 100%;
        background: #ffffff;
        border-radius: 4px;
        display: flex;
        overflow: hidden;
        .dynamic-video {
            width: REM(96);
            position: relative;
            .img-style {
                width: REM(96);
                height: REM(96);
            }
            .video-mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon-style {
                    font-size: 20px;
                    color: #ffffff;
                }
            }
        }
        .dynamic-content {
            flex: 1;
            overflow: hidden;
            padding: REM(16) REM(16) REM(12) REM(16);

            .dynamic-name {
                width: 100%;
                height: REM(20);
                font-size: 14px;
                font-weight: 600;
                color: var(--base-font-color);
                line-height: REM(20);
            }
            .video-title {
                margin-top: REM(8);
                width: 100%;
                height: REM(20);
                font-size: 12px;
                font-weight: 500;
                color: var(--base-font-color);
                line-height: REM(20);
            }
            .dynamic-text {
                margin-top: REM(4);
                width: 100%;
                height: REM(20);
                font-size: 12px;
                color: #686c78;
                line-height: REM(20);
                overflow: hidden;
            }
        }
    }
}

.comment-message-operate {
    margin-top: REM(16);
    margin-left: REM(56);
    display: flex;
    .operate-btn {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-style {
            padding: 0 8px;
            font-size: 12px;
            color: #686c78;
            display: flex;
            align-items: center;
        }
        .btn-theme-style {
            color: var(--base-theme-color);
        }
        .icon-style {
            font-size: 20px;
        }
    }
}
