$REM: 16;
@function REM($n) {
    @return calc($n / $REM) * 1rem;
}

.message-like-wrapper {
    width: REM(760);

    .message-like-hint {
        height: REM(20);
        font-size: REM(12);
        color: #686c78;
        line-height: REM(20);
        margin-bottom: REM(8);
    }

    .like-message-wrapper + .like-message-wrapper {
        margin-top: REM(16);
    }

    .list-loading {
        width: 100%;
        text-align: center;
        margin-top: REM(16);
        line-height: 20px;
        font-size: 16px;
        color: var(--base-icon-color);
    }
}

.like-message-wrapper {
    padding: REM(24);
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
}
.like-message-body {
    display: flex;

    .body-img {
        width: REM(40);
        height: REM(40);
        margin-top: 1px;
        @include head-img-style;
    }

    .body-content {
        margin-left: REM(16);
        flex: 1;
        overflow: hidden;
        .content-name {
            width: 100%;
            height: REM(20);
            font-size: 14px;
            font-weight: 600;
            color: var(--base-font-color);
            line-height: REM(20);
        }
        .content-text {
            margin-top: 4px;
            height: REM(17);
            font-size: 12px;
            color: #686c78;
            line-height: REM(17);
        }
        .content-time {
            margin-top: REM(8);
            height: REM(20);
            font-size: 12px;
            color: #999ea8;
            line-height: REM(20);
        }
    }
}
