html,
body {
    min-width: 1080px;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img,
video {
    -webkit-user-drag: none;
}

:root {
    --base-background-color: #f7f8fa;

    --base-font-color: #1e1f23;
    --base-font-gray-color: #999ea8;

    --base-theme-color: #ff7d23;
    --base-icon-color: #686c78;
}

$REM: 16;
@function REM($n) {
    @return calc($n / $REM) * 1rem;
}

@mixin width-height-100 {
    width: 100%;
    height: 100%;
}
@mixin text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@mixin head-img-style {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.text-ellipsis-style {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.width-height-100-style {
    width: 100%;
    height: 100%;
}
.opacity-50 {
    opacity: 0.5;
}

//layout
@import "../components/layout/layouts.scss";
@import "../components/layout/headers.scss";
@import "../components/layout/footers.scss";
@import "../components/layout/homeLayout.scss";
@import "../components/layout/userLayout.scss";
@import "../components/layout/noLayout.scss";

// base-components
@import "../components/baseComponents/inputTheme.scss";
@import "../components/baseComponents/buttonTheme.scss";
@import "../components/baseComponents/collapseText.scss";
@import "../components/baseComponents/imgShow.scss";

// components
@import "../components/TopicList.scss";
@import "../components/commentItem.scss";
@import "../components/commentContentInfo.scss";
@import "../components/dynamicContentGenerate.scss";

// modal
@import "../components/modal/postDynamic.scss";
@import "../components/modal/postComment.scss";
@import "../components/modal/secondConfirm.scss";
@import "../components/modal/imgCropper.scss";
@import "../components/modal/infoConfirm.scss";
@import "../components/modal/subComment.scss";
@import "../components/modal/mediaShow.scss";

// avatar
@import "../components/avatar/avatar.scss";

//pages
@import "../pages/index.scss";
@import "../pages/dynamic.scss";
@import "../pages/messagecenter.scss";
@import "../pages/userinfo.scss";
@import "../pages/login.scss";
@import "../pages/middle.scss";
@import "../pages/userpage.scss";
@import "../pages/agreement.scss";

// userinfo
@import "../components/userinfo/userDynamic.scss";
@import "../components/userinfo/settingInfo.scss";
@import "../components/userinfo/userFollow.scss";
@import "../components/userinfo/userCollect.scss";

// messageCenter
@import "../components/messageCenter/fans.scss";
@import "../components/messageCenter/messageLike.scss";
@import "../components/messageCenter/messageComment.scss";
@import "../components/messageCenter/messageHint.scss";
@import "../components/messageCenter/messageDynamicInfo.scss";
